<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Project-www</display-name>
    <servlet>
        <servlet-name>user_login</servlet-name>
        <servlet-class>servlet.user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_signup</servlet-name>
        <servlet-class>servlet.user_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_logout</servlet-name>
        <servlet-class>servlet.user_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_profile</servlet-name>
        <servlet-class>servlet.user_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_edit</servlet-name>
        <servlet-class>servlet.user_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload_image</servlet-name>
        <servlet-class>servlet.upload_image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search_book</servlet-name>
        <servlet-class>servlet.search_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search_category</servlet-name>
        <servlet-class>servlet.search_category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>servlet.book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>author</servlet-name>
        <servlet-class>servlet.author</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>others</servlet-name>
        <servlet-class>servlet.other_profs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_login</servlet-name>
        <url-pattern>/user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_signup</servlet-name>
        <url-pattern>/user_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_logout</servlet-name>
        <url-pattern>/user_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_profile</servlet-name>
        <url-pattern>/user_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_edit</servlet-name>
        <url-pattern>/user_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload_image</servlet-name>
        <url-pattern>/upload_image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search_book</servlet-name>
        <url-pattern>/search_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search_category</servlet-name>
        <url-pattern>/search_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>author</servlet-name>
        <url-pattern>/author</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>others</servlet-name>
        <url-pattern>/other_profs</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>  
        <exception-type>java.lang.Exception</exception-type>  
        <location>/login.jsp</location>  
    </error-page>  
</web-app>
