html {
  box-sizing: border-box;
}
body {
    margin-top: 80px;
    padding: 0;
    background-image: url(images/bgh.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  margin-left: 40px;
  margin-right: 20px;
  padding-left: 30px;
  background-color: rgba(106, 106, 106, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #4d4d4d;
}

.button {
  background:#141111;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: #555;
}

.left{
  position:relative;
  float:left;
}
img{
  float:initial;
}

span.underline a:hover{
  color: #555;
  text-decoration: underline;
}
span.underline a {
  color: #141111;
  text-decoration: none;
}

.glyphicon{
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 70px 70px 70px 70px;
  background: #000000;
  color: white;
}
