.box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  background-color: rgba(106, 106, 106, 0.2);
  border-radius: 10px;
}

.page_body .body_left button {
  float: right;
  padding: 10px 18px;
  background: rgba(77, 26, 0, 0.85);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.page_body .body_right img{
    margin-left: 100px;
}

.page_body .body_right input[type=file] {
  float: left;
  position: relative;
  z-index: 2;
  padding: 20px 5px;
  margin: 5px 0 0 50px;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.page_body .body_right input[type=submit] {
  float: right;
  padding: 10px 18px;
  background: rgba(77, 26, 0, 0.85);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;

}

.page_body .body_left{
    font-family: "Book Antiqua";
}

.page_body .body_left input{
  display: inline-block;
  width:330px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.15);
  color:black;
  border:0;
}
label{
    display: inline-block;
    text-align: right;
}

.page_body .body_left select{
  display:inline-block;
  width:330px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.15);
  color:black;
  border:0;
}

::placeholder{
  color: black;
  opacity: 0.8;
}

.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:#141111;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
  border-radius: 12px;
}
.box button:active{
  background:#27ae60;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}
