body{
    margin: 0;
    padding: 0;
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    font-family: Raleway;
    font-size: 17px;
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  background-color: rgba(106, 106, 106, 0.2);
  border-radius: 10px;
    font-family: Raleway;
    font-size: 17px;
}

.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
    font-family: Raleway;

}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.15);
  color:black;
  border:0;
    font-family: Raleway;
    font-size: 17px;
}

.box select{
  display:block;
  width:330px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.15);
  color:black;
  border:0;
}

::placeholder{
  color: black;
  opacity: 0.8;
}

::autocomplete{
    font-family: Raleway;
    font-size: 17px;
}

.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:#141111;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
  border-radius: 12px;
  font-family: Raleway;
}
.box button:active{
  background:#27ae60;
}
.box p{
    font-family: Raleway;
    font-size: 14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}